# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/run-data/

# game run directories
/*/run/
/*/run-data/

# datagen cache
**/.cache/

# generated folders
**/generated/
